* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

nav {
  background: #222;
  font-family: "Roboto", monospace;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 20px;
  height: 100%;
  font-family: "Roboto", monospace;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 10px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: #222;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #c71e81;
  border-radius: 5px;
  letter-spacing: 2px;
}

nav ul ul li a:hover {
  color: #c71e81;
  box-shadow: none;
}

nav ul ul {
  z-index: 10;
  position: absolute;
  top: 90px;
  border-top: 2px solid #c71e81;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 180px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 180px;
}

.fa-plus {
  margin-left: 60px;
  font-size: 15px;
}

.fa-chevron-down {
  font-size: 15px;
}

.show,
.icon,
nav input {
  display: none;
}

.search-bar-container {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  height: 80%;
  width: 60%;
  color: #b1b1b1;
  border: 2px solid #b1b1b1;
  border-radius: 10px;
  background-color: #222;
  display: flex;
}

#search-inp {
  color: #b1b1b1;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
}

#search-inp::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-inp::placeholder {
  color: #b1b1b1;
}

#search-btn {
  position: relative;
  right: 1.5%;
  background: none;
  border: none;
  color: #b1b1b1;
}

.product-container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.main-image-container {
  width: 100%;
}

.main-image {
  width: 100%;
  height: 80vh;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.main-image.active {
  display: flex;
}

.main-image img {
  max-height: 100%;
  max-width: 100%;
  padding: 8px;
}

.img-row {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-card {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b1b1b1;
  border-radius: 4px;
}

.img-card:hover {
  border: 2px solid #666;
}

.img-card button {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.3s ease;
}

.img-card:hover img {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.product-description {
  height: 100vh;
  width: 30%;
  color: #222;
  font-family: "Roboto", monospace;
  padding: 8px;
}

.product-description > * {
  margin: 4px;
}

.product-description p {
  color: #666;
  font-size: 20px;
}

.size {
  width: 40%;
  padding: 4px;
  margin-bottom: 10px;
  background: none;
  outline: none;
  border: none;
  background-color: #f6f6f6;
}

.size:focus {
  outline: 1px solid #222;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Roboto", monospace;
  transition: all 0.3s ease;
  cursor: pointer;
}

.buy-btn {
  border: none;
  background-color: #222;
  color: white;
  border: 2px solid #222;
}

.buy-btn:hover {
  background: none;
  color: #222;
  border: 2px solid #222;
}

.cart-btn {
  border: none;
  background-color: #222;
  color: white;
  border: 2px solid #222;
}

.cart-btn:hover {
  background: none;
  color: #222;
  border: 2px solid #222;
}

.details-container {
  padding-bottom: 32px;
  background-color: white;
  border-bottom: 1px solid #222;
}

.details {
  width: 80%;
  padding: 8px;
  margin-left: 12%;
  display: flex;
}

.share-icons {
  font-size: 22px;
}

.share-icons > * {
  margin-right: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook:hover {
  color: #4267B2;
}

.size-details {
  color: #666;
  margin-right: 5%;
}

.footer-container {
  background: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footer {
  width: 80%;
  height: 100%;
  background: white;
  color: #222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.footer-heading h2 {
  margin-bottom: 1rem;
}

.footer-heading a {
  display: flex;
  justify-content: left;
  color: #222;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.footer-heading a:hover {
  transform: translateX(5px);
  transition: 0.4s;
}

.footer-email-form h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #222;
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #f6f6f6;
  transition: 0.3s;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #222;
  color: white;
  transition: all 0.3s ease-out;
}

.footer-bottom {
  border-top: 1px solid #222;
  padding: 4px;
  color: #222;
  background-color: #f6f6f6;
  text-align: center;
}

@media all and (max-width: 950px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul ul li {
    position: static;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul ul a {
    padding-left: 40px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: #c71e81;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show + a,
  ul {
    display: none;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }
  
  .product-container {
    flex-direction: column;
  }

  .product-images {
    width: 100%;
  }

  
  .product-description {
    height: 40%;
    width: 95%;
    text-align: center;
  }
  
  .details {
    margin: 0;
    padding-left: 32px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .size-details {
    margin-right: 0;
    margin-bottom: 5%;
  }
}

@media (max-width: 575px) {
  .img-row {
    height: 100px;
  }
  
  .main-image {
    height: 40vh;
  }
  
  .footer {
    height: 100%;
    display: block;
    justify-content: left;
  }
  
  .footer-heading h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  .footer-email-form h2 {
    margin-bottom: 1rem;
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    height: 10vh;
  }
}
